@charset "UTF-8";

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+
+　タイトル : ページ共有のスタイル
+　ファイル名 : ファイルのパスを入れます。(ルート、相対どちらでも)
+　概要 : CSSの用途を説明を入れます。
+　サイト名 : サイトの説明を入れます。
+　URL : http://
+
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* --------------------------------------------------------------------------------------
 基本設定
--------------------------------------------------------------------------------------- */

/* 基本フォント ------------------------------ */

body {
	color: #333;
	font-family: 'メイリオ','Meiryo','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Osaka','ＭＳ Ｐゴシック',Arial,sans-serif;
	font-size: 75%;
	line-height: 1.5;
}

html>/**/body {
  font-size: 75%; /* Except IE */
}

input,textarea,select {
	font-family: 'メイリオ','Meiryo','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Osaka','ＭＳ Ｐゴシック',Arial,sans-serif;
	font-size: 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

/*\*/
* html table {
	font-size: 100%;
	line-height: 1.5;
}
/**/


/* 基本タグ ------------------------------ */

body,div,
h1,h2,h3,h4,h5,h6,
dl,dt,dd,ul,ol,li,
p,blockquote,pre,cite,code,caption,
form,fieldset,legend,input,textarea,select,option,label {
	margin: 0;
	padding: 0;
}

body {
	min-width: 1000px;
	background: #fffdf6;
	text-align: center;
}

@media screen and (max-width: 1024px){
body {
	min-width: 1150px;
}
}

img,table {
	border: none;
}

table {
	border-collapse: collapse;
}

ul {
	list-style: none;
}

li img,
dt img {
	vertical-align: bottom;
}

address,em,cite {
	font-style: normal;
}


/* 基本テキストリンク ------------------------------ */

a {
	overflow: hidden;
}

a:link {
	color: #59010f;
	text-decoration: none;
}
a:visited {
	color: #666666;
	text-decoration: none;
}
a:hover {
	color: #B30926;
	text-decoration: underline;
}
a:active {
	color: #666666;
	text-decoration: underline;
}

.link_red_location a:link {
	color: #B30926 !important;
	text-decoration: none;
}
.link_red_location a:visited {
	color: #59010f !important;
	text-decoration: none;
}
.link_red_location a:hover {
	color: #B30926 !important;
	text-decoration: underline;
}
.link_red_location a:active {
	color: #666666 !important;
	text-decoration: underline;
}

.link_red a:link {
	color: #B30926 !important;
	text-decoration: underline;
}
.link_red a:visited {
	color: #59010f !important;
	text-decoration: underline;
}
.link_red a:hover {
	color: #B30926 !important;
	text-decoration: underline;
}
.link_red a:active {
	color: #666666 !important;
	text-decoration: underline;
}

.link_common a:link {
	color: #59010f !important;
	text-decoration: none;
}
.link_common a:visited {
	color: #666666 !important;
	text-decoration: none;
}
.link_common a:hover {
	color: #B30926 !important;
	text-decoration: underline;
}
.link_common a:active {
	color: #666666 !important;
	text-decoration: underline;
}


/* --------------------------------------------------------------------------------------
 float解除
--------------------------------------------------------------------------------------- */

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;font-size: .1em; overflow: hidden;}
.clearfix { display:inline-block; }
/*\*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/**/


/* --------------------------------------------------------------------------------------
 レイアウト枠
--------------------------------------------------------------------------------------- */

div#wrap {
	width: 100%;
	margin: 0 auto;
	background: #fffdf6;
	text-align: left;
}

div#ct_area {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	font-size: 117%;
	z-index: 9998;
}

.index div#ct_area {
	position: relative;
	width: 1000px;
	margin: -113px auto 0 auto;
	font-size: 117%;
}

div#ct_right {
	float: right;
	width: 720px;
}

div#ct_right_course {
	float: right;
	width: 750px !important;
}


/* --------------------------------------------------------------------------------------
 ヘッダー
--------------------------------------------------------------------------------------- */

div#hd_sp {
	display: none;
}

.main_img_none div#hd {
	width: 100%;
	margin: 0 0 143px 0;
	padding: 0 0 1px 0;
	background: url(/images/hd_bg.gif) repeat-x left bottom;
}

div#hd {
	width: 100%;
	padding: 0 0 1px 0;
	background: url(/images/hd_bg.gif) repeat-x left bottom;
}

div#hd .hd_nav_link_sp{
	display: none;
}

div#hd .hd_nav_link{
	width: 100%;
	padding: 9px 0 9px 0;
	background: #b30926;
}

div#hd .hd_nav_link ul{
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}

div#hd .hd_nav_link ul li{
	display: inline;
	float: right;
	margin: 0 0 0 10px;
	padding: 0 0 0 18px;
	background: url(/images/ico_arw1.gif) no-repeat 0 center;
}
div#hd .hd_nav_link ul li a:link {
	color: #fff;
	text-decoration: none;
}
div#hd .hd_nav_link ul li a:visited {
	color: #fff;
	text-decoration: none;
}
div#hd .hd_nav_link ul li a:hover {
	color: #fff;
	text-decoration: underline;
}
div#hd .hd_nav_link ul li a:active {
	color: #fff;
	text-decoration: underline;
}


/* ヘッダーロゴ ------------------------------ */

div#hd .hd_ct {
	width: 1000px;
	margin: 0 auto;
	padding: 0 0 9px 0;
}

div#hd .logo {
	float: left;
	width: 400px;
	padding: 31px 0 0 0;
}

/* hd_other */

div#hd .hd_other {
	float: right;
	width: 600px;
	padding: 20px 0 0 0;
}

/* other_box */

div#hd .hd_other .other_box{
	margin: 0 0 19px 0;
}

div#hd .hd_other .other_box .btn_en a{
	display: inline;
	float: right;
	width: 71px;
	height: 24px;
	margin: 0 10px 0 0;
	text-indent: -9999px;
}

div#hd .hd_other .other_box .btn_en a{background: url(/images/btn_en_ot.gif) no-repeat 0 0;}
div#hd .hd_other .other_box .btn_en a:hover{background: url(/images/btn_en_ov.gif) no-repeat 0 0;}

div#hd .hd_other .other_box .search_box {
    display: inline;
    float: right;
				width: 202px;
    margin: 0 10px 0 0;
}
div#hd .hd_other .other_box .search_box input {
    display: inline;
    float: left;
    margin: 0 3px 0 0;
}
div#hd .hd_other .other_box .search_box input.search_area{
	width: 128px;
	padding: 2px 0 2px 20px;
	border: 1px #dddddd solid;
	border-radius: 3px;		/* CSS3草案 */
	-webkit-border-radius: 3px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 3px;	/* Firefox用 */
	background: url(/images/ico_search.gif) no-repeat 3px center;
}

div#hd .hd_other .other_box .search_box a {
    display: inline;
    float: right;
    height: 24px;
    margin: 0;
    text-indent: -9999px;
    width: 48px;
}
div#hd .hd_other .other_box .search_box a {
    background: url("/images/btn_search_ot.gif") no-repeat scroll 0 0 transparent;
}
div#hd .hd_other .other_box .search_box a:hover {
    background: url("/images/btn_search_ov.gif") no-repeat scroll 0 0 transparent;
}


/*

div#hd .hd_other #___gcse_1 {
	display: inline;
	float: right;
	width: 201px !important;
	margin: 0 10px 0 0;
}

div#hd .hd_other .gsc-input-box,
div#hd .hd_other .gsc-search-box{
	width: 201px !important;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
}

div#hd .hd_other .gsc-input-box table,
div#hd .hd_other #gsc-iw-id2{
}

div#hd .hd_other .gsc-search-box #gsc-iw-id2 td#gs_tti1{
	width: 128px !important;
	margin: 0 !important;
	padding: 0 !important;
	background: none !important;
}
div#hd .hd_other .gsc-search-box .gsc-input,
div#hd .hd_other .gsc-search-box #gs_id1,
div#hd .hd_other .gsc-search-box #gsc-iw-id2{
	width: 94% !important;
	margin: 0 !important;
	padding: 0 !important;
	background: none !important;
}

div#hd .hd_other .gsc-search-box #gsc-iw-id2 td#gs_tti1 input{
	width: 128px !important;
	padding: 3px 0 2px 20px !important;
	border: 1px #dddddd solid !important;
	border-radius: 3px !important;	
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	background: #fff url(/images/ico_search.gif) no-repeat 3px center !important;
	font-size: 91.6%;
}

div#hd .hd_other .gsc-search-button input{
	display: inline !important;
	float: right !important;
	width: 48px !important;
	height: 24px !important;
	margin: 0 0 0 -5px !important;
	padding: 0 0 0 0 !important;
	border: none;
	text-indent: -9999px !important;
}

div#hd .hd_other .gsc-search-button img{
	display: none !important;
}

*/

div#hd .hd_other .other_box .search_box a{background: url(/images/btn_search_ot.gif) no-repeat 0 0 !important;}
div#hd .hd_other .other_box .search_box a:hover{background: url(/images/btn_search_ov.gif) no-repeat 0 0;}

div#hd .hd_other .gsst_a {
	display: none;
}

/* other_link */

div#hd .other_link_sp{
	display: none;
}

div#hd .hd_other .other_link{
	display: inline;
	float: right;
	margin: 0 13px 0 0;
}

div#hd .hd_other .other_link li{
	display: block;
	float: left;
	min-height: 20px;
	margin: 0 0 0 18px;
	padding: 0 0 0 29px;
	line-height: 20px;
}

div#hd .hd_other .other_link li.other1{
	background: url(/images/ico_other1.gif) no-repeat 0 0;
}

div#hd .hd_other .other_link li.other2{
	background: url(/images/ico_other2.gif) no-repeat 0 0;
}

div#hd .hd_other .other_link li.other3{
	background: url(/images/ico_other3.gif) no-repeat 0 0;
}

div#hd .hd_other .other_link li.other4{
	background: url(/images/ico_other4.gif) no-repeat 0 0;
}


/* ヘッダーグローバルナビ ------------------------------ */


div#hd .gnav{
 position: relative;
	z-index: 9999;
	width: 1000px;
	margin: 0 auto;
}

div#hd .gnav li{
	position: relative;
	float: left;
}

div#hd .gnav li a{
	display: block;
	float: left;
	height: 62px;
	text-indent: -9999px;
}

div#hd .gnav li#gnav1 a{width: 99px;background: url(/images/gnav1_ot.gif) no-repeat 0 0;}
div#hd .gnav li#gnav2 a{width: 115px;background: url(/images/gnav2_ot.gif) no-repeat 0 0;}
div#hd .gnav li#gnav3 a{width: 106px;background: url(/images/gnav3_ot.gif) no-repeat 0 0;}
div#hd .gnav li#gnav4 a{width: 138px;background: url(/images/gnav4_ot.gif) no-repeat 0 0;}
div#hd .gnav li#gnav5 a{width: 163px;background: url(/images/gnav5_ot.gif) no-repeat 0 0;}
div#hd .gnav li#gnav6 a{width: 106px;background: url(/images/gnav6_ot.gif) no-repeat 0 0;}
div#hd .gnav li#gnav7 a{width: 138px;background: url(/images/gnav7_ot.gif) no-repeat 0 0;}
div#hd .gnav li#gnav8 a{width: 135px;background: url(/images/gnav8_ot.gif) no-repeat 0 0;}

div#hd .gnav li#gnav1 a:hover{background: url(/images/gnav1_ov.gif) no-repeat 0 0;}
div#hd .gnav li#gnav2 a:hover{background: url(/images/gnav2_ov.gif) no-repeat 0 0;}
div#hd .gnav li#gnav3 a:hover{background: url(/images/gnav3_ov.gif) no-repeat 0 0;}
div#hd .gnav li#gnav4 a:hover{background: url(/images/gnav4_ov.gif) no-repeat 0 0;}
div#hd .gnav li#gnav5 a:hover{background: url(/images/gnav5_ov.gif) no-repeat 0 0;}
div#hd .gnav li#gnav6 a:hover{background: url(/images/gnav6_ov.gif) no-repeat 0 0;}
div#hd .gnav li#gnav7 a:hover{background: url(/images/gnav7_ov.gif) no-repeat 0 0;}
div#hd .gnav li#gnav8 a:hover{background: url(/images/gnav8_ov.gif) no-repeat 0 0;}


div#hd .gnav li#gnav1 div.sub,
div#hd .gnav li#gnav2 div.sub,
div#hd .gnav li#gnav3 div.sub{
	display: none;
	position: absolute;
	left: 0;
	top: 62px;
	width: 703px;
	padding: 20px 0 20px 12px;
	border-right: 3px #f7e6e9 solid;
	border-bottom: 3px #f7e6e9 solid;
	border-left: 3px #f7e6e9 solid;
	border-radius: 0 0 6px 6px;		/* CSS3草案 */
	-webkit-border-radius:  0 0 6px 6px;	/* Safari,Google Chrome用 */
	-moz-border-radius:  0 0 6px 6px;	/* Firefox用 */
	background: #fff;
	z-index: 9999;
}
div#hd .gnav li#gnav4 div.sub{
	display: none;
	position: absolute;
	left: -57px;
	top: 62px;
	width: 703px;
	padding: 20px 0 20px 12px;
	border-right: 3px #f7e6e9 solid;
	border-bottom: 3px #f7e6e9 solid;
	border-left: 3px #f7e6e9 solid;
	border-radius: 0 0 6px 6px;		/* CSS3草案 */
	-webkit-border-radius:  0 0 6px 6px;	/* Safari,Google Chrome用 */
	-moz-border-radius:  0 0 6px 6px;	/* Firefox用 */
	background: #fff;
	z-index: 9999;
}
div#hd .gnav li#gnav5 div.sub{
	display: none;
	position: absolute;
	right: -90px;
	top: 62px;
	width: 703px;
	padding: 20px 0 20px 12px;
	border-right: 3px #f7e6e9 solid;
	border-bottom: 3px #f7e6e9 solid;
	border-left: 3px #f7e6e9 solid;
	border-radius: 0 0 6px 6px;		/* CSS3草案 */
	-webkit-border-radius:  0 0 6px 6px;	/* Safari,Google Chrome用 */
	-moz-border-radius:  0 0 6px 6px;	/* Firefox用 */
	background: #fff;
	z-index: 9999;
	visibility:visible;  /* -- For IE7  -- */
}
div#hd .gnav li#gnav6 div.sub,
div#hd .gnav li#gnav7 div.sub,
div#hd .gnav li#gnav8 div.sub{
	display: none;
	position: absolute;
	right: 0;
	top: 62px;
	width: 703px;
	padding: 20px 0 20px 12px;
	border-right: 3px #f7e6e9 solid;
	border-bottom: 3px #f7e6e9 solid;
	border-left: 3px #f7e6e9 solid;
	border-radius: 0 0 6px 6px;		/* CSS3草案 */
	-webkit-border-radius:  0 0 6px 6px;	/* Safari,Google Chrome用 */
	-moz-border-radius:  0 0 6px 6px;	/* Firefox用 */
	background: #fff;
	z-index: 9999;
	visibility:visible;  /* -- For IE7  -- */
}

div#hd .gnav li#gnav1 div.sub ul,
div#hd .gnav li#gnav2 div.sub ul,
div#hd .gnav li#gnav3 div.sub ul,
div#hd .gnav li#gnav4 div.sub ul,
div#hd .gnav li#gnav5 div.sub ul,
div#hd .gnav li#gnav6 div.sub ul,
div#hd .gnav li#gnav7 div.sub ul,
div#hd .gnav li#gnav8 div.sub ul{
	overflow: visible;
	z-index: 9999;
	vertical-align: top;
}
div#hd .gnav li#gnav1 div.sub ul.line_none,
div#hd .gnav li#gnav2 div.sub ul.line_none,
div#hd .gnav li#gnav3 div.sub ul.line_none,
div#hd .gnav li#gnav4 div.sub ul.line_none,
div#hd .gnav li#gnav5 div.sub ul.line_none,
div#hd .gnav li#gnav6 div.sub ul.line_none,
div#hd .gnav li#gnav7 div.sub ul.line_none,
div#hd .gnav li#gnav8 div.sub ul.line_none{
	border-right: none;
}

div#hd .gnav li#gnav1 div.sub ul li,
div#hd .gnav li#gnav2 div.sub ul li,
div#hd .gnav li#gnav3 div.sub ul li,
div#hd .gnav li#gnav4 div.sub ul li,
div#hd .gnav li#gnav5 div.sub ul li,
div#hd .gnav li#gnav6 div.sub ul li,
div#hd .gnav li#gnav7 div.sub ul li,
div#hd .gnav li#gnav8 div.sub ul li{
	display: inline;
	float: left;
	width: 224px;
	margin: 0 5px 0 0;
	padding: 0 0 0 0;
}


div#hd .gnav li#gnav1 div.sub ul li img,
div#hd .gnav li#gnav2 div.sub ul li img,
div#hd .gnav li#gnav3 div.sub ul li img,
div#hd .gnav li#gnav4 div.sub ul li img,
div#hd .gnav li#gnav5 div.sub ul li img,
div#hd .gnav li#gnav6 div.sub ul li img,
div#hd .gnav li#gnav7 div.sub ul li img,
div#hd .gnav li#gnav8 div.sub ul li img{
	vertical-align: middle;
	margin: 0 0 0 5px;
}

div#hd .gnav li#gnav1 div.sub ul li a,
div#hd .gnav li#gnav2 div.sub ul li a,
div#hd .gnav li#gnav3 div.sub ul li a,
div#hd .gnav li#gnav4 div.sub ul li a,
div#hd .gnav li#gnav5 div.sub ul li a,
div#hd .gnav li#gnav6 div.sub ul li a,
div#hd .gnav li#gnav7 div.sub ul li a,
div#hd .gnav li#gnav8 div.sub ul li a{
	float: none;
	width: auto;
	height: auto;
	padding: 0 0 0 21px;
	background: url(/images/ico_arw2.gif) no-repeat 0 .35em;
	font-size: 117%;
	text-indent: 0;
}

div#hd .gnav ul.small_link{
	margin: 0 0 0 6px;
	padding: 20px 0 0 0 !important;
}

div#hd .gnav li#gnav1 div.sub ul li.arw_small a,
div#hd .gnav li#gnav2 div.sub ul li.arw_small a,
div#hd .gnav li#gnav3 div.sub ul li.arw_small a,
div#hd .gnav li#gnav4 div.sub ul li.arw_small a,
div#hd .gnav li#gnav5 div.sub ul li.arw_small a,
div#hd .gnav li#gnav6 div.sub ul li.arw_small a,
div#hd .gnav li#gnav7 div.sub ul li.arw_small a,
div#hd .gnav li#gnav8 div.sub ul li.arw_small a{
	float: none;
	width: auto;
	height: auto;
	margin: 0 0 0 0;
	padding: 0 0 0 15px;
	background: url(/images/ico_arw3.gif) no-repeat 0 .55em;
	font-size: 100%;
	text-indent: 0;
}



/* --------------------------------------------------------------------------------------
 フォントサイズ変更
--------------------------------------------------------------------------------------- */

#font_change {
	float: right;
}

#font_change li.size_text {
	float: left;
	margin: 0 0 0 0;
}

#font_change li {
	float: left;
}

.font_s { font-size: 83.3%; }
.font_m { font-size: 100%; }
.font_l { font-size: 117%; }

.font_s #font_change li#font_s img,
.font_m #font_change li#font_m img,
.font_l #font_change li#font_l img { 
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "alpha(opacity=0)";
}
.font_s #font_change li#font_s { width:25px; height: 24px; background: url(/images/txt_size1_ov.gif) no-repeat;}
.font_m #font_change li#font_m { width:25px; height: 24px; background: url(/images/txt_size2_ov.gif) no-repeat;}
.font_l #font_change li#font_l { width:25px; height: 24px; background: url(/images/txt_size3_ov.gif) no-repeat;}


/* --------------------------------------------------------------------------------------
 パンくず
--------------------------------------------------------------------------------------- */

.location {
	width: 1000px;
	margin: 15px auto 18px auto;
}

.location li{
	display: inline;
}

.location li a{
	float: left;
	margin: 0 10px 0 0;
	padding: 0 16px 0 0;
	background: url(/images/ico_arw5.gif) no-repeat right center;
}


/* --------------------------------------------------------------------------------------
 フッター
--------------------------------------------------------------------------------------- */

.pagetop{
	width: 100%;
	height: 80px;
	margin: 60px 0 0 0;
	background: url(/images/bg_pagetop.gif) repeat-x left top;
}

.pagetop p{
	width: 1000px;
	margin: 0 auto 0 auto;
}

.pagetop a{
	position: relative;
	display: inline;
	float: right;
	width: 102px;
	height: 90px;
	margin: -31px 0 0 0;
	text-indent: -9999px;
}

.pagetop a{background: url(/images/pagetop_ot.gif) no-repeat 0 0;}
.pagetop a:hover{background: url(/images/pagetop_ov.gif) no-repeat 0 0;}

div#ft_sp {
	display: none;
}

div#ft {
	padding: 37px 0 0 0;
	background: #f3f0e0;
}

div#ft .search_box .accordion{
	display: none;
	position: absolute;
	left: 0;
	top: 74px;
	width: 100%;
	margin: 0 auto;
	text-align: left;
}

div#ft .ft_nav{
	width: 1000px;
	margin: 0 auto 0 auto;
	text-align: left;
}

div#ft .ft_nav ul{
	float: left;
	width: 240px;
	margin: 0 0 0 0;
	font-size: 117%;
	line-height: 16px;
	vertical-align: top;
}

div#ft .ft_nav ul li{
	margin: 0 0 0 0;
	padding: 0 0 0 25px;
	background: url(/images/ico_arw2.gif) no-repeat 0 .2em;
}
div#ft .ft_nav ul li img{
	vertical-align: middle;
	margin: 0 0 0 5px;
}

div#ft .ft_nav ul li ul{
	float: none;
	margin: 15px 0 0 5px;
}

div#ft .ft_nav ul li ul li{
	margin: 0 0 0 0;
	padding: 0 0 9px 14px;
	background: url(/images/ico_arw3.gif) no-repeat 0 .45em;
	font-size: 87%;
}

div#ft .copy_box{
	width: 100%;
	padding: 9px 0 9px 0;
	background: #b30926;
}

div#ft .copy_box .inner{
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}

div#ft .copy_box .copy{
	float: right;
	width: 400px;
	color: #fff;
	text-align: right;
}

div#ft .copy_box ul{
	float: left;
	width: 600px;
	margin: 0 auto;
	text-align: left;
}

div#ft .copy_box ul li{
	display: inline;
	float: left;
	margin: 0 10px 0 0;
	padding: 0 0 0 11px;
	background: url(/images/ico_arw4.gif) no-repeat 0 center;
}
div#ft .copy_box ul li a:link {
	color: #fff;
	text-decoration: none;
}
div#ft .copy_box ul li a:visited {
	color: #fff;
	text-decoration: none;
}
div#ft .copy_box ul li a:hover {
	color: #fff;
	text-decoration: underline;
}
div#ft .copy_box ul li a:active {
	color: #fff;
	text-decoration: underline;
}


/* --------------------------------------------------------------------------------------
 カテゴリーリード
--------------------------------------------------------------------------------------- */

.category_lead {
	width: 1000px;
	margin: 37px auto 62px auto;
}

.lead_ttl{
	min-height: 44px;
	margin: 0 0 26px 0;
	padding: 6px 0 4px 65px;
	background: url(/images/ttl_ico1.gif) no-repeat 0 0;
	font-size: 171%;
	font-family: "Hiragino Mincho ProN", "ヒラギノ明朝 Pro W3", "HGS明朝E","ＭＳ Ｐ明朝", "MS PMincho", serif;
}


/* --------------------------------------------------------------------------------------
 隙間
--------------------------------------------------------------------------------------- */

.mgb_none {
	margin-bottom: 0 !important;
}

.mgt25 {
	margin-top: 25px;
}

.mgt30 {
	margin-top: 30px;
}

.mgb40 {
	margin-bottom: 40px;
}


/* --------------------------------------------------------------------------------------
 下層 side nav 共通
--------------------------------------------------------------------------------------- */

#ct_left {
	float: left;
	width: 240px;
}

#ct_left li img{
	margin: 0 0 0 5px;
	vertical-align: middle;
}

/* 階層見出し */

.ttl_category a{
	display: block;
	padding: 8px 20px 11px 20px;
	border-top: 4px #770005 solid;
	border-radius: 6px 6px 0 0;		/* CSS3草案 */
	-webkit-border-radius: 6px 6px 0 0;	/* Safari,Google Chrome用 */
	-moz-border-radius: 6px 6px 0 0;	/* Firefox用 */
	background: #b30926;
	color: #fff;
	font-size: 128.3%;
}

/* 階層1 */

#ct_left ul{
	margin: 0 0 10px 0;
	border: 1px #f2edd5 solid;
	border-radius: 3px;		/* CSS3草案 */
	-webkit-border-radius: 3px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 3px;	/* Firefox用 */
	background: #fff;
	overflow: hidden;
}

#ct_left ul li.active{
	display: block;
	background: url(/images/side_bg_hover.gif) repeat-x left top;
}

#ct_left ul li span{
	display: block;
	margin: -1px 0 0 0;
	background: url(/images/ico_arw2.gif) no-repeat 20px 1.1em;
	line-height: 20px;
}

#ct_left ul.arw_small li span{
	display: block;
	margin: -1px 0 0 0;
	background: url(/images/ico_arw3.gif) no-repeat 24px 1.4em;
	line-height: 20px;
}

#ct_left ul li a{
	display: block;
	padding: 11px 5px 13px 44px;
	background: url(/images/line_dot1.gif) repeat-x left top;
}

/* 階層2 */

#ct_left ul ul{
	margin: -2px 0 0 0;
	padding: 0 0 12px 0;
	border: none;
	border-radius: 0;		/* CSS3草案 */
	-webkit-border-radius: 0;	/* Safari,Google Chrome用 */
	-moz-border-radius: 0;	/* Firefox用 */
	background: none;
}

#ct_left ul ul li.active{
	display: block;
	padding: 10px 0 3px 30px;
	background: url(/images/side_bg_hover2.gif) repeat-x left top;
}

#ct_left ul ul li.active a{
	padding: 0 0 0 14px;
	background: url(/images/ico_arw3.gif) no-repeat 0 .55em;
}

#ct_left ul ul li{
	margin: 0 0 7px 0;
	padding: 0 5px 0 44px;
	background: url(/images/ico_arw3.gif) no-repeat 30px .55em;
}

#ct_left ul ul li a{
	display: inline;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background: none;
}
